.container {
  margin: 2rem 0;
  padding: 1rem;
}

.intro {
  display: grid;
  place-items: center;
}

.box {
  display: grid;
  gap: 2rem;
  max-width: 50rem;
  text-align: center;
}

.intro h1 {
  font-weight: var(--ft-semi-bold);
  font-size: clamp(2.3rem, 10vw, 1.5rem);
  /* font-size: 2.7rem; */
}

.intro h3 {
  font-weight: var(--ft-medium);
  font-size: 1rem;
  color: #717171;
}

.intro form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 30px;
  background-color: var(--primary-clr-100);
  overflow: hidden;
  padding-left: 1rem;
}

.intro form input {
  background-color: transparent;
  border: none;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  outline: none;
}

.intro form button {
  background-color: var(--primary-clr);
  border: none;
  padding: 1rem 2rem;
  color: white;
  height: 100%;
  border-radius: 30px;
}

.download_icon {
  display: none;
}

.helper_button {
  border: none;
  background-color: transparent;
}

.feature_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.feature_box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.icon {
  background-color: black;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  padding: 2rem;
  color: white;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon img {
  width: 100%;
  height: 100%;
}
