.main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.container {
  width: 80%;
}

.container h1 {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: var(--ft-bold);
}

.container ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image {
  border-radius: 30px;
}

.title {
  line-height: 1.6;
  font-size: 1.12rem;
  margin-bottom: 1rem;
  font-weight: var(--ft-medium);
}

@media (min-width: 800px) {
  .container {
    width: 35rem;
  }
}
