.main {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 0 1rem;
}

.container {
  overflow: hidden;
}

.another {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  flex-wrap: wrap;
}

.another button {
  background-color: #eceff1;
  border: none;
  padding: 1rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: var(--ft-semi-bold);
  font-size: 1rem;
}

.another button div {
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.info p {
  letter-spacing: 0.5px;
  line-height: 1.6;
  opacity: 0.85;
  font-weight: var(--ft-semi-bold);

  text-align: center;
}

.card_container {
  margin: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
