.main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  height: 80vh;
}
.image_container {
  width: 5rem;
  height: 5rem;
}

.tagline {
  font-size: clamp(1.4rem, 5vw, 2rem);
  font-weight: var(--ft-bold);
}

.tagline_description {
  font-size: 1.5rem;
  font-weight: var(--ft-bold);
  color: #b8c0be;
  text-align: center;
}

.action_btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  border: none;
  background-color: var(--primary-clr);
  color: white;
  border-radius: 20px;
  padding: 1.5em;
  cursor: pointer;
}
