.close_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close {
  border: none;
  background-color: transparent;
  align-items: flex-end;
  cursor: pointer;
  display: grid;
  align-self: center;
  margin-bottom: 0.5rem;
}

.close svg {
  width: 20px;
  height: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--ft);
}

.form label {
  font-weight: var(--ft-semi-bold);
  font-size: clamp(1.2rem, 4vw, 1.5rem);
}

.form_container {
  display: flex;
  border-bottom: 2px solid black;
}

.form input {
  border: none;
  width: 100%;
  padding: 1em;
  outline: none;
}

.form button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.note {
  background-color: #f2d12e88;
  padding: 0.8em;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  color: #d96704;
}
