.container {
  background-color: var(--primary-clr-light);
  padding: 2rem;
  display: grid;
  place-items: center;
  gap: 1rem;

  margin-top: auto;
  width: 100%;
}

.container p {
  font-size: 1.2rem;
  font-weight: var(--ft-medium);
}

@media (min-width: 1400px) {
  .container {
    width: 80rem;
  }
}
