.container {
  padding: 1rem;
  height: var(--navbar-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-weight: var(--ft-semi-bold);
}

.nav_list {
  display: flex;
  gap: 1rem;

  list-style: none;
}

.nav_list li {
  font-size: 1.2rem;
  font-weight: var(--ft-medium);
}

.nav_list li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border-radius: 30px;
  transition: background-color 250ms ease;
}

.menu {
  display: block;

  border: none;
  background-color: transparent;
}

.menu svg {
  display: grid;
  place-items: center;
}

.mobile {
  position: absolute;
  background-color: white;
  top: 4rem;
  right: 1rem;

  display: grid;
  place-content: center;
  z-index: 1000;

  padding: 1rem;
  border-radius: 30px;

  background-color: var(--primary-clr);
}

.mobile .nav_list {
  display: grid;
  place-items: center;
}

.mobile .nav_list li {
  font-size: 1rem;
  color: white;
}

.desktop {
  display: none;
}

@media (min-width: 600px) {
  .menu {
    display: none;
  }

  .desktop {
    display: block;
  }

  .nav_list li a:hover {
    background-color: var(--primary-clr-light);
  }
}

@media (min-width: 1400px) {
  .container {
    width: 80rem;
  }
}
