.cardContainer {
  margin: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.card {
  position: relative;
}

.download {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.8rem;
  display: flex;
  justify-content: center;
}

.download svg {
  width: 20px;
  height: 20px;
  color: white;
}

.download button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-weight: var(--ft-semi-bold);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
