.card {
  position: relative;

  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;

  transition: border-radius 250ms;
  border: 3px solid transparent;
  padding: 1rem;

  background-color: #eceff1;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

.info a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: var(--ft-semi-bold);
}

.info a:hover {
  border-bottom: 1px solid black;
}

.info button {
  border: none;
  background-color: transparent;
}

.download {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.download button {
  background-color: #607d8b;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  cursor: pointer;

  box-shadow: -7px 4px 35px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -7px 4px 35px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -7px 4px 35px -6px rgba(0, 0, 0, 0.3);
}

.card img {
  object-fit: cover;

  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
