.container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  background-color: var(--primary-clr);
  padding: 1em;
  border: none;
  border-radius: 100%;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
}
