.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  background-color: var(--primary-clr-light);
  border-radius: 30px;
  margin: auto 1rem 1rem;

  font-weight: var(--ft-semi-bold);
  font-size: clamp(0.8rem, 4vw, 1.2rem);
}
