.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  background-color: var(--primary-clr-light);
  border-radius: 30px;
  margin: auto 0 0;

  font-weight: var(--ft-medium);
  font-size: clamp(0.8rem, 4vw, 1.2rem);

  width: 100%;
}

@media (min-width: 1400px) {
  .footer {
    width: 80rem;
  }
}
