.footer {
  margin-top: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer a,
.footer p {
  font-weight: var(--ft-semi-bold);
  font-size: 1.12rem;
}

.footer a {
  border-bottom: 3px solid black;
}
