.container {
  width: 50rem;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  overflow: hidden;

  margin-bottom: 2rem;
}

.no_post {
  padding: 1rem;
  font-size: 1.5rem;
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.card img {
  object-fit: cover;
}

.card button {
  border: none;
  background-color: black;
  position: absolute;
  top: 0;
  right: 2px;
  border-radius: 100%;
  padding: 0.5em;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 10px 5px rgba(255, 255, 255, 0.3);
}

.card button svg {
  color: #fbfdfb;
  width: 1rem;
  height: 1rem;
}

@media (max-width: 850px) {
  .container {
    width: 100%;
    grid-gap: 0.2rem;
  }
}
