.container {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container li {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.loading {
  position: absolute;
  bottom: 0;

  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--primary-clr);
}

.container button {
  border: none;

  background-color: transparent;
  padding: 1rem;

  background-color: var(--primary-clr-100);

  font-size: 1rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
