.message {
  font-size: 1.5rem;
  font-weight: var(--ft-bold);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.action_btns {
  display: flex;
  align-items: center;
  gap: 1rem;

  flex-wrap: wrap;
}

.btn {
  border: none;
  background-color: var(--primary-clr);
  color: white;
  padding: 1.5em;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-weight: var(--ft-semi-bold);
  flex-grow: 1;
}

.btn_outline {
  border: none;
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
  padding: 1.5em;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-weight: var(--ft-semi-bold);
  flex-grow: 1;
}
