.close_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close_container button {
  padding: 1em;
  border-radius: 100%;

  transition: background-color 250ms;
}

.close_container button:hover,
.close_container button:focus {
  background-color: var(--primary-clr-200);
}

.close {
  border: none;
  background-color: transparent;
  align-items: flex-end;
  cursor: pointer;
  display: grid;
  align-self: center;
  margin-bottom: 0.5rem;
}

.close svg {
  width: 20px;
  height: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--ft);
  height: 100%;
}

.form label {
  font-weight: var(--ft-semi-bold);
  font-size: 1.5rem;
}

.form_container {
  display: flex;
  border: none;
  gap: 0.5rem;
  height: 4rem;
  border-radius: 30px;
  background-color: var(--primary-clr-100);
}

.form input {
  border: none;
  width: 100%;
  padding: 1rem;
  outline: none;
  background-color: transparent;
}

.form button {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--primary-clr);
  color: white;
  border-radius: 30px;
}

.note {
  background-color: #cfd8dc;
  padding: 1em;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  font-weight: var(--ft-semi-bold);
}
