@import 'tailwindcss';

@theme {
	--color-primary: #c9c7ba;
	--color-primary-text: #29292b;

	--animate-spin-fast: spin 0.25s infinite;
}

@layer base {
	button {
		cursor: pointer;
	}

	body {
		font-family: 'Inter', serif;
	}
}
