@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ft: "Poppins", sans-serif;
}

html,
body {
  font-family: var(--ft);
  color: var(--text-clr);
  scroll-behavior: smooth;
  background-color: var(--background-clr);
}

#__next,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  font-family: var(--ft);
  font-weight: var(--ft-medium);
}
