@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #fff;
  --text-clr: #1f1f1f;

  --ft: "Montserrat", sans-serif;
  --ft-medium: 500;
  --ft-semi-bold: 600;
  --ft-bold: 700;
}

html,
body {
  font-family: var(--ft);
  color: var(--text-clr);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}
