.container {
  padding: 1rem;
  border-radius: 0 50px 0 50px;
  overflow: hidden;
  background-color: #eceff1;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.info p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.main {
  position: relative;
}

.image_container {
  border-radius: 0 50px 0 50px;
  overflow: hidden;

  position: relative;
}

.image_container img {
  object-fit: cover;
}

.action_btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.main button:nth-child(2) {
  flex: 2;
}

.action_btn button:nth-child(1) {
  border-radius: 30px 30px 0;
  text-transform: capitalize;
}

.action_btn button:nth-child(1) span {
  font-weight: var(--ft-semi-bold);
}

.main button {
  width: 100%;
  height: 3rem;
  border: none;
  padding: 0.8rem;
  background-color: #607d8b;
  border-radius: 10px;

  box-shadow: -7px 4px 35px -6px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.shimmer {
  background-image: linear-gradient(
    to right,
    #ebebeb calc(50% - 100px),
    #c5c5c5 50%,
    #ebebeb calc(50% + 100px)
  );
  background-size: 0;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(200% + 200px);
  bottom: 0;
  background-image: inherit;
  animation: move 2s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(calc(50% + 100px));
  }
}
