.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.box {
  height: 100%;
  max-width: 30rem;

  text-align: center;

  display: grid;
  gap: 2rem;
}

.container h1 {
  color: red;
  font-size: 2.5rem;
}

.action {
  display: flex;
  gap: 1rem;
}

.action_button {
  border: none;
  background-color: var(--primary-clr);
  padding: 1rem 2rem;
  color: white;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-weight: var(--ft-medium);
  font-size: 1.2rem;

  width: 100%;
}
