.container {
  padding: 1rem;
}

.option {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0 2rem 0;
}

.option button {
  border: none;
  background-color: var(--primary-clr-100);
  padding: 1rem;
  height: 4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 20px;

  font-size: 1rem;

  position: relative;
  overflow: hidden;
}

.loading {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: var(--primary-clr);
}

.card_container {
  margin-bottom: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
