.container {
  padding: 1rem;
}

.option {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.option button {
  border: none;
  background-color: var(--primary-clr-100);
  padding: 1rem 2rem;
  height: 4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 20px;

  font-size: 1rem;
}

.card_container {
  margin: 3rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
